.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    transition: color var(--transition);
    
    &:hover, :focus p {
        color: var(--clr-primary-600);
    }

    .title {
        &:first-letter {
            text-transform: uppercase;
        }
    }
}