.contacts {
  & > div {
    display: flex;
    justify-content: space-around;
    padding-block: 3rem;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: 0.2rem solid ar(--clr-default-200);
    padding: 2rem;
    width: 45rem;
  }
}

.contact-list {
  border-radius: 1rem;
  padding: 2rem;
  width: 40rem;
  box-shadow: 3px 5px 5px rgb(160, 160, 160);
  background-color: var(--clr-default-200);

  h2 {
    margin-bottom: 1.5rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
}
