.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;

    &:hover,:focus p {
        color: rgb(173, 2, 2);
    }
}

.title {
    &:first-letter {
        text-transform: uppercase;
    }
}