.container {
    width: 400px;
    padding: 20px;
    background-color: rgb(243, 243, 217);
}

.title {
    margin-bottom: 15px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 7px;
}